html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: 'Nunito', sans-serif;
  color: #333333;
}
img {
  width: 100%;
}

.all {
  padding-top: 85px;
}

.btn-featured {
  background: #41CD52;
  border-radius: 3px;
  box-shadow: 0 10px 30px rgba(65,205,82,.5);
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 24px;
}
.btn-featured:hover {
  text-decoration: none;
  color: #FFFFFF;
}

/*##################################################
  HEADER
##################################################*/
.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  transition: all .7s ease-in-out;
  width: 100%;
}
.header--sticky {
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.header__logo {
  color: #41CD52;
  font-size: 21px;
  font-weight: bold;
  padding: 15px 15px 15px 0;
  margin: 0;
  text-transform: lowercase;
}
.header__logo a {
  color: inherit;
}
.header__logo a:hover {
  text-decoration: none;
}

.header__menu-item {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  display: inline-block;
}
.header__menu-item:hover {
  color: #41CD52;
  text-decoration: none;
}
.header__buy-btn {
  background: #41CD52;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(65,205,82,.5);
  color: #FFFFFF;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 0 24px;
  padding: 8px 24px;
}
.header__buy-btn:hover {
  text-decoration: none;
  color: #FFFFFF;
}

/*##################################################
  INTRO SECTION
##################################################*/

.intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.intro__wrapper-1 {
  flex: 0 1 35%;
}
.intro__wrapper-2 {
  flex: 0 1 55%;
}
.intro h2 {
  font-size: 48px;
  font-weight: bold;
}
.intro p {
  font-size: 14px;
}

/*##################################################
  SPECS SECTION
##################################################*/

.specs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.specs__wrapper-1 {
  flex: 0 1 45%;
}
.specs__wrapper-2 {
  flex: 0 1 50%;
}
.specs h2 {
  font-size: 34px;
}
.specs p {
  font-size: 16px;
}

/*##################################################
  FEATURES SECTION
##################################################*/

.features {
  display: flex;
  justify-content: space-between;
}
.features__wrapper {
  align-items: flex-start;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: center;
  padding: 80px 100px;
}
.features__wrapper.video {
  align-items: center;
  background-image: url('../images/half_bg.jpg');
  background-position: center;
  background-size: cover;
  padding: 0;
}
.features__wrapper.video a {
  width: 50px;
  height: 50px;
  display: block;
}
.features h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 40px 0 0;
}
.features p {
  font-size: 14px;
  margin: 20px 0;
}
.features .btn-featured {
  margin: 20px 0;
}

/*##################################################
  REVIEWS SECTION
##################################################*/

.reviews {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 150px 0;
}
.reviews__wrapper {
  align-items: center;
  display: flex;
  flex: 0 1 65%;
  flex-direction: column;
  justify-content: center;
}
.reviews img {
  border-radius: 50%;
  margin: 0 auto 10px;
  height: 80px;
  width: 80px;
}
.reviews p {
  color: #848484;
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

/*##################################################
  WHY YOU NEED SECTION
##################################################*/

.why-you-need {
  background-image: url('../images/cta.jpg');
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
.why-you-need > .container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.why-you-need__wrapper {
  flex: 0 1 45%;
}
.why-you-need span {
  color: #FFFFFF;
  display: inline-block;
  font-size: 12px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.why-you-need h2 {
  color: #FFFFFF;
  font-size: 28px;
  margin: 0 0 20px;
}
.why-you-need p {
  color: #FFFFFF;
  font-size: 14px;
  margin: 0 0 20px;
}

/*##################################################
  PRINCING SECTION
##################################################*/

.pricing {
  background-image: url('../images/pitch_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.pricing > .container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.pricing__wrapper {
  flex: 0 1 40%;
}
.pricing h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.pricing p {
  font-size: 16px;
}
.pricing h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.pricing .price {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
}
.colours__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.colours__item {
  margin: 0 10px 0 0;
}
.colours__link {
  border-radius: 2px;
  display: block;
  height: 18px;
  width: 18px;
}
.colours__link.white {
  background-color: #d5d5d5;
}
.colours__link.black {
  background-color: #333333;
}
.colours__link.gray {
  background-color: #666666;
}
.pricing img {
  width: 150px;
}

/*##################################################
  FOOTER SECTION
##################################################*/

.footer {
  padding: 50px 0;
}
.footer > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer__infos {
  flex: 0 1 41%;
}
.footer__infos img {
  margin: 0 0 15px;
  width: 30px;
}
.footer__infos p {
  color: #848484;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
}
.footer__menu {
  display: flex;
  flex: 0 1 32%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 111px;
}
.footer__menu-item {
  color: #454545;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0;
  display: inline-block;
}
.footer__menu-item:hover {
  color: #41CD52;
  text-decoration: none;
}
